body {
    font-family: 'Kyiv', 'Arsenal';
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #fff;
    height: 100%;
    overflow-x: hidden;
}

/* Заголовок і меню */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.logo img {
    width: 150px;
    height: auto;
}

/* Навігація */
.navbar a {
    color: #ADC4C4;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Активна кнопка золото */
.navbar .active {
    font-weight: bold; /* Робимо кнопку "Золото" жирною */
    color: #484b48;
}

/* Стилі для кнопки "Замовити" */
.order-button {
    background-color: #4D5B4A;
    padding: 10px 20px;
    border-radius: 5px;
    right: 1vw;
    color: white;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    position: relative;
}

/* Ефект при наведенні на кнопку */
.order-button:hover {
    background-color: #898d89;
}

/* Адаптивність для мобільних пристроїв */
@media (max-width: 768px) {
    .main-content {
        padding: 50px 20px;
    }

    .text-content h2 {
        font-size: 36px;
    }

    .navbar a {
        font-size: 16px;
        margin: 0 10px;
    }

    .order-button {
        font-size: 14px;
    }

    .categories a {
        font-size: 14px;
        padding: 8px 15px;
    }
}

@media (max-width: 480px) {
    .text-content h2 {
        font-size: 28px;
    }

    .discount {
        font-size: 20px;
    }

    .categories a {
        font-size: 12px;
        padding: 5px 10px;
    }

    .order-button {
        font-size: 12px;
        padding: 8px 16px;
    }
}